@charset "utf-8";

.all{ height:100%; display:flex; flex-direction:column;background: #fff;}

/*===================== header =================*/

header{ height:.5rem; width: 100%;}
header .head{ display:flex;width: 100%; height:.5rem; background:#fafafa; justify-content:space-around;}
header .head li:nth-child(1){ width:3.15rem;border:1px solid #ccc;border-radius:.04rem;height:.32rem;margin-top: .07rem;display: flex;justify-content:space-around;background: #fff;}
header .head li:nth-child(1) i{font-size: 18px;color:#ccc;text-align: center;line-height:.32rem;}
header .head li:nth-child(1) input{
    width:85%;
    font-size:14px;
    border:0; 
    color:#959595;
}
header .head li:nth-child(2){  font-size:20px; color:#939393; line-height:.5rem;}


/*===================== main =================*/
main{flex:1; overflow:auto;background: #d81a48;}
    /* --zuo-- */



/*===================== footer =================*/
footer{height:.5rem;background: chartreuse;}
